<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目列表页</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        .container-fluid {
            margin-top: 100px;
        }
        .table-striped th, .table-striped td {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 30px">
            <div class="col"></div>
            <div class="col"><h2 class="text-center text-info">项目列表信息</h2></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">序号</th>
                      <th scope="col">项目名称</th>
                      <th scope="col">项目负责人</th>
                      <th scope="col">应用名称</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>前程贷项目</td>
                      <td>可优</td>
                      <td>P2P平台应用</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>探索火星项目</td>
                      <td>优优</td>
                      <td>吊炸天应用</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>无比牛逼的项目</td>
                      <td>可可</td>
                      <td>神秘应用</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>

    </div>

</body>
</html>